@model Web.BongaCC.ViewModels.UAPRollUpCodeViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

<div id="createModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Add UAP Roll Up Code</h4>
            </div>
            <form id="iForm" asp-action="AddEdit" asp-controller="UapRollUpCodes">
                <div id="ModalWrapper" class="modal-body">
                    @await Html.PartialAsync("_UpdateUAPRollUpCodes")
                </div>
                <div class="modal-footer">
                    <button id="Submit" class="btn btn-primary rounded-0">Submit</button>
                    <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="editModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Update UAP Roll Up Code</h4>
            </div>
            <form id="iFormEdit" asp-action="AddEdit" asp-controller="UapRollUpCodes">
                <div id="editModalWrapper" class="modal-body">
                    @await Html.PartialAsync("_UpdateUAPRollUpCodes")
                </div>
                <div class="modal-footer">
                    <button id="editSubmit" class="btn btn-primary rounded-0">Update</button>
                    <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        UAP Rollup Codes
    </div>
    <div class="panel-body">
        <p>
            <button style="margin-bottom:10px;" type="button" data-target="#createModal" data-toggle="modal" class="btn btn-danger btn-sm rounded-0"><i class="fa fa-plus-circle"></i> Add New</button>
        </p>
        <table id="UapRollUpCodesTbl" class="table table-striped table-bordered dt-responsive" style="font-size:11px;width:100%" cellspacing="0">
            <thead>
                <tr>
                    <th>S/No</th>
                    <th>
                        @Html.DisplayNameFor(model => model.UapRollUpCodeDesc)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            @*<tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UapRollUpCodeDesc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AddedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedDate)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>*@
        </table>
    </div>
</div>
<br />
<br />
<br />

<script type="text/javascript">

    $(document).ready(function () {
        $("#UapRollUpCodesTbl").DataTable({
            "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
            "iDisplayLength": 25,

            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/UapRollUpCodes/LoadData",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
                [{
                    //"targets": [4, 5, 6], "className": "right",
                    //"render": $.fn.dataTable.render.number(',', '.', 2),
                    //"visible": false,
                    "searchable": false
                }],
            "columns": [
                {
                    "data": "id",
                    render: function (data, type, row, meta) { return meta.row + meta.settings._iDisplayStart + 1; },
                    "autoWidth": true
                },
                { "data": "UapRollUpCodeDesc", "name": "UapRollUpCodeDesc", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) {
                        return "<a href='#' class='btn-link btn-primary' onclick=editRow('" + full.ID + "'); >Edit</a>";
                    }
                },
                {
                    data: null, render: function (data, type, row) {
                        return "<a href='#' class='btn-link btn-primary' onclick=DeleteData('" + row.ID + "');>Delete</a>";
                    }
                },
            ]
        });
    });

    function editRow(Id) {
        var mymodal = $("#editModal");
        $.ajax({
            url: '/UapRollUpCodes/Edit/' + Id, // The method name + paramater
            success: function (data) {
                $('#editModalWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)
                mymodal.modal("show");
            }
        });
    }

    function DeleteData(CustomerID) {
        if (confirm("Are you sure you want to delete ...?")) {
            Delete(CustomerID);
        }
        else {
            return false;
        }
    }

    function Delete(Id) {
        var url = "/UapRollUpCodes/Delete";
        $.post(url, { ID: Id }, function (data) {
            if (data) {
                oTable = $('#UapRollUpCodesTbl').DataTable();
                oTable.draw();
            }
            else {
                alert("Something Went Wrong!");
            }
        });
    }

</script>
