@model Web.BongaCC.ViewModels.CommitmentControlViewModel

<input type="hidden" asp-for="@Model.oBudgetBookCommitment.ID" />

<div class="col-md-12 row">
    <div class="col-md-2">
        <b>@Html.DisplayFor(model => model.oBudgetBookCommitment.Comitmntno)</b>
    </div>
    <div class="col-md-10">
        <b>@Html.DisplayFor(model => model.oBudgetBookCommitment.title)</b>
    </div>
</div>
<p><hr /></p>


@if (Model.FileUpload != null)
{
    Model.FileUpload.BudgetBookCommitmentsID = Model.oBudgetBookCommitment.ID;
}

<div class="row">
    <div class="col-md-7 form-group">
        <label asp-for="FileUpload.Title" class="control-label"></label>
        <input asp-for="FileUpload.Title" type="text" class="form-control" />
        <span asp-validation-for="FileUpload.Title" class="text-danger"></span>
    </div>
    <div class="col-md-5 form-group">
        <label asp-for="FileUpload.UploadFiles" class="control-label"></label>
        <input asp-for="FileUpload.UploadFiles" type="file" class="form-control" style="height:auto" />
        <span asp-validation-for="FileUpload.UploadFiles" class="text-danger"></span>
    </div>
</div>

<hr />

<table class="table table-condensed table-hover table-bordered" style="font-size:12px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileUpload.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileUpload.FileNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileUpload.UploadDT)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FileUpload.UploadFilesSize)
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model.LstUploadFiles != null)
        {
            foreach (var item in Model.LstUploadFiles)
            {
                <tr>
                    <td>
                        <a asp-action="Download" asp-route-id="@item.ID">@item.Title</a>
                        @*@Html.DisplayFor(modelItem => item.Title)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileNames)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UploadDT)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.UploadFilesSize)
                    </td>

                </tr>
            }
        }
    </tbody>
</table>

@if (ViewBag.Message != null)
{
    <script>
        $(document).ready(function () {
            alert('@ViewBag.Message');
        });
    </script>
}

@*<div class="container-fluid" style="overflow:auto">
        <br />
        <div style="width:100%; margin:0 auto;">
            <table id="uploadedFiles" class="table table-striped table-bordered dt-responsive" style="font-size:11px;width:100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FileUpload.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FileUpload.UploadDT)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.FileUpload.UploadFilesSize)
                        </th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            var id = @Model.oCommitment != null ? Model.oCommitment.ID : 0;
            $("#uploadedFiles").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "ajax": {
                    "url": "/Commitments/LoadFiles/" + id,
                    "data": { id: id /* add other additional parameters */ },
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                    [{
                        //"targets": [5, 6, 7], "className": "right",
                        //"render": $.fn.dataTable.render.number(',', '.', 2),
                        //"visible": false,
                        //"searchable": false
                    }],
                "columns": [

                    { "data": "Title", "name": "Title", "autoWidth": true },
                    { "data": "UploadDT", "name": "UploadDT", "autoWidth": true },
                    { "data": "UploadFilesSize", "name": "UploadFilesSize", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) {
                            return "<a href='#' class='btn-link btn-primary' onclick=DeleteData('" + full.ID + "'); >Delete</a>";
                        }
                    },
                ]
            });
        });

        function DeleteData(ID)
        {
            if (confirm("Are you sure you want to delete ...?"))
            {
                Delete(ID);
            }
            else
            {
                return false;
            }
        }

        function Delete(ID)
        {
            var url = '@Url.Content("~/")' + "Commitments/DeleteFile";
            $.post(url, { ID: ID }, function (data)
            {
                if (data)
                {
                    oTable = $('#uploadedFiles').DataTable();
                    oTable.draw();
                }
                else
                {
                    alert("Something Went Wrong!");
                }
            });
        }

    </script>*@





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
