@model Web.BongaCC.ViewModels.CommitmentControlViewModel

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            Budget Book Filter Criteria
        </div>
        <div class="panel-body"> @*style="font-size:12px"*@
            <div class="form-group row">
                <div class="col-md-12">
                    <label asp-for="oBudgetBook.CapexOpex" class="control-label"></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <select id="ddlCapexOpex" asp-for="oBudgetBook.CapexOpexID" class="form-control selectCriteria" asp-items='@(new SelectList(@ViewBag.CapexOpexBB, "ID", "CapexOpex"))'></select>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label asp-for="oBudgetBook.ActivityOwnerID" class="control-label"></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <select id="ddlActivityOwner" asp-for="oBudgetBook.ActivityOwnerID" class="form-control selectCriteria" asp-items='@(new SelectList(string.Empty, "ID", "FullName"))'></select>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-md-12">
                    <label asp-for="oBudgetBook.ActivityCodeID" class="control-label"></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <select id="ddlActivityCode" asp-for="oBudgetBook.ActivityCodeID" class="form-control selectCriteria" asp-items='@(new SelectList(string.Empty, "ID", "ActivityCodeDesc"))'></select>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label asp-for="oBudgetBook.ActivityTypeID" class="control-label"></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <select id="ddlActivityName" asp-for="oBudgetBook.ActivityTypeID" class="form-control selectCriteria" asp-items='@(new SelectList(string.Empty, "ID", "ActivityName"))'></select>
                    </div>
                </div>
            </div>
           
            <div class="form-group row">
                <div class="col-md-12">
                    <label asp-for="oBudgetBook.ScopeID" class="control-label"></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <select id="ddlScope" asp-for="oBudgetBook.ScopeID" class="form-control selectCriteria" asp-items='@(new SelectList(string.Empty, "ID", "Purpose"))'></select>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label asp-for="oBudgetBook.BudgetBasisID" class="control-label"></label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <select id="ddlBudgetBasis" asp-for="oBudgetBook.BudgetBasisID" class="form-control selectCriteria" asp-items='@(new SelectList(string.Empty, "ID", "BudgetBase"))'></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
