
<b style="color:green; font-size:14px; text-underline-position:below">
    Read the following instructions:
</b>
<br />
<br />
        The tables below show all new entries found in the current year Budget book that are not yet entered in to the database.<br />
        Click the submit button below, on this popup view, to automatically enter them into their respective tables in the database.
<br />
<br />

        Note: do not click <b style="color:red; font-size:12px; text-underline-position:below">Transform Data for upload</b> button, until all rows are empty on this popup view.<br />
        Then Transform data for upload.
    <br />
    <br />

    This will take you to the next view that has translated all text to numeric characters, then click 
    <b style="color:red; font-size:12px; text-underline-position:below">Upload Transformed Budget Book</b> button.

<h2><b style="color:red; font-size:12px">Note: if names already on the users table is found here, kindly enter the name in the excel sheet as it is found on the company's GAL(Global Access List)</b></h2>

        @Html.Raw(ViewBag.ActivityOwner)
        <hr />

        @Html.Raw(ViewBag.LineManager)
        <hr />

        @Html.Raw(ViewBag.Sponsors)
        <hr />

        @Html.Raw(ViewBag.Markers)
        <br />

        @Html.Raw(ViewBag.ActivityTypes)
        <hr />

        @Html.Raw(ViewBag.UapCodes)
        <hr />

        @Html.Raw(ViewBag.UapRollUpCodes)
        <hr />

        @Html.Raw(ViewBag.ActivityNames)
        <hr />

        @Html.Raw(ViewBag.ActivityCodees)
        <hr />

        @Html.Raw(ViewBag.CostCenter)
        <hr />

        @Html.Raw(ViewBag.Activity)
        <hr />

        @Html.Raw(ViewBag.Scopes)
        <hr />

        @Html.Raw(ViewBag.contracts)
        <hr />
        @Html.Raw(ViewBag.budgetBases)
