@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-1">
                <b style="color:darkgreen">Total Capex:</b>
            </div>
            <div class="col-md-1">
                <b style="color:darkgreen">@ViewBag.Capex</b>
            </div>

            <div class="col-md-1">
                <b style="color:darkgreen">Capex Spent:</b>
            </div>
            <div class="col-md-1">
                <b style="color: darkgreen">@ViewBag.CapexExp</b>
            </div>

            <div class="col-md-1">
                <b style="color:darkgreen">Capex Bal.:</b>
            </div>
            <div class="col-md-1">
                <b style="color:darkgreen">@ViewBag.CapexBal</b>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <b style="color:darkred">Total Opex:</b>
            </div>
            <div class="col-md-1">
                <b style="color:darkred">@ViewBag.Opex</b>
            </div>

            <div class="col-md-1">
                <b style="color:darkred">Opex Spent:</b>
            </div>
            <div class="col-md-1">
                <b style="color:darkred">@ViewBag.OpexExp</b>
            </div>

            <div class="col-md-1">
                <b style="color:darkred">Opex Bal.:</b>
            </div>
            <div class="col-md-1">
                <b style="color:darkred">@ViewBag.OpexBal</b>
            </div>
        </div>
    </div>
</div>
